@using Entities.Concrete
@model Owner
<div class="content">
    <div class="row">
        <div class="col-md-8">
            <div class="card">
                <div class="card-header">
                    <h5 class="title">Edit Profile</h5>
                </div>
                <div class="card-body">
                    <form asp-action="UpdateOwner" asp-controller="Owner" method="post">
                        <div class="row">
                            <div class="col-md-5 pr-md-1">
                                <div class="form-group d-none">
                                    <label>Owner Id</label>
                                    <input readonly asp-for="OwnerId" type="number" class="form-control" placeholder=" Type ...">
                                </div>
                            </div>
                            <div class="col-md-5 pr-md-1">
                                <div class="form-group">
                                    <label>Owner Name</label>
                                    <input asp-for="OwnerName" type="text" class="form-control" placeholder=" Owner Name ">
                                </div>
                            </div>
                            <div class="col-md-3 px-md-1">
                                <div class="form-group">
                                    <label>Owner Surname</label>

                                    <input asp-for="OwnerSurName" type="text" class="form-control " placeholder="Owner Surname">

                                </div>
                            </div>
                          
                        </div>
                      


                        <div class="card-footer">
                            <button type="submit" class="btn btn-fill btn-primary">Save</button>
                        </div>
                        @if (TempData["message"] != null)
                        {
                            <div class="alert alert-info" role="alert">@TempData["message"]</div>
                        }

                    </form>

                </div>

            </div>
        </div>


    </div>
</div>